.nav-menu {
	text-align: right;
}

.nav {
	text-decoration: none;
}

.nav-spacing {
	margin: 0 0 0 10px;
}

.center-heading {
	text-align: center;
	margin: 0 0 80px;
}

.block-img {
	display: block;
	margin: 0 auto;
}

.float-img {
	float: left;
	margin: 0 40px 0 0;
}

.special-style {
	width: 500px;
	margin: 20px auto;
	padding: 30px;
	background-color: #fafafa;
}

.quote {
	font-style: italic;
	font-size: 20px;
}

.important-quote {
	font-style: normal;
	font-size: 24px;
	font-weight: bold;
	color: #ff0000;
}
